header
  .container.text-center
    h1 Gwendal Gourmelon
    p Mes formations
section.timeline
  .container
    .timeline-item
      .timeline-img
      .timeline-content.timeline-card.js--fadeInLeft
        .timeline-img-header
          h2 Ingenieur ISEN Lille
        .date Août 2020
        p
          | Obention de mon diplome d'ingénieur à l'Institut Supérieur de l'Electronique et Numérique Yncréa Hauts-de-France
        a.bnt-more(href='javascript:void(0)') More
    .timeline-item
      .timeline-img
      .timeline-content.timeline-card.js--fadeInRight
        .timeline-img-header
          h2 Entrée à l'ISEN
        .date Septembre 2017
        p
          | Début de mes études à l'ISEN Lille en apprentissage
        p
          | Entrée à Prodival dans le cadre de mon apprentissage
        a.bnt-more(href='javascript:void(0)') More
    .timeline-item
      .timeline-img
      .timeline-content.timeline-card.js--fadeInLeft
        .timeline-img-header
          h2 DUT Genie Electrique Informatique Industrielle
        .date Juin 2017
        p
          | Obtention de mon DUT GEII à l'IUT de Brest
        a.bnt-more(href='javascript:void(0)') More
    .timeline-item
      .timeline-img
      .timeline-content.timeline-card.js--fadeInRight
        .timeline-img-header
          h2 Entrée à l'IUT de Brest
        .date Septembre 2015
        p
          | Suite à mon bac, je travail dans l'obtention d'un DUT GEII
        a.bnt-more(href='javascript:void(0)') More
    .timeline-item
      .timeline-img
      .timeline-content.timeline-card.js--fadeInLeft
        .timeline-img-header
          h2 Baccalauréat Scientifique
        .date Juillet 2015
        p 
          | Lycée Lapérousse Kerichen
        blockquote 
          | Mention Assez-Bien