doctype html
head
  title My CV
  meta(charset='utf-8')
  link(href='css/main.css' rel='stylesheet')
h1
  | This page will soon hold my CV 
div= t('bonjour')
main.maingrid
  header.topCV
  section.leftCV
    h1.name Gwendal Gourmelon
    address.contact
      ul
        li
          a(href='https://github.com/MyGg29' target='_blank') Github
        li
          a(href='https://www.linkedin.com/in/gwendal-gourmelon/' target='_blank') Linkedin
        li
          button(onClick='openContactForm()').openContactForm
            | Open a custom window
          form(action='/contactMe', method='POST' id='contactForm' ).contactForm
            label(for='email')
              | Your mail
            input(type='email',name='email')
            label(for='message')
              | Message
            textarea(name='message')
            input(type='submit', value='Submit')

    figure.skills
      svg(height='100')
    .lang
      h2 The languages I speak
      ol
        li French #[span(class="tooltip") ?]
        span(class="tooltiptext") langue maternel, Voltaire niveau ingenieur passé
        li English #[span(class="tooltip") ?]
        span(class="tooltiptext") fluant, cambridge certificate niveau C2
        li Spanish #[span(class="tooltip") ?]
        span(class="tooltiptext") base, 3 mois passé en espagne

  section.centerCV
    .formations
      h1 Mes formations
      ol
        li 
          h2 Ecole d'ingenieur
          p Blabla
        li 
          h2 DUT
          p Blabla
        li 
          h2 Kerich
          p Bac S spé math
        li And a lot more ...
    .experiences
      h1 Mes experiences
      ol
        li 
          h2 Apprentissage Prodival
          p 3 ans, à dev une app web sur la qualité
        li 
          h2 Stage CGI
          p 3 mois, dev d'un dashboard en temps réel pour la supervision de centrales d'appels.

    .competences
      h1 Mes Competences
      ul
        li 
          h2 Apprentissage Prodival
          p 3 ans, à dev une app web sur la qualité
        li 
          h2 Stage CGI
          p 3 mois, dev d'un dashboard en temps réel pour la supervision de centrales d'appels.
  article.rightCV
    h1 A propos de moi
    .aboutMe
      | Liste de ce que je fait dans la vie (alias lettre de motivation)
      | Liste de ce que je fait dans la vie (alias lettre de motivation)
      | Liste de ce que je fait dans la vie (alias lettre de motivation)
      | Liste de ce que je fait dans la vie (alias lettre de motivation)
      | Liste de ce que je fait dans la vie (alias lettre de motivation)
footer
  | By and for Gwendal
script(src='https://d3js.org/d3.v5.min.js')
script(type='text/javascript' src='js/main.js')

